:root {
	--search-bar-width: 430px;
}

body {
	font-family: arial, sans-serif;
}

/******************************/
/********** HEADER            */
/******************************/
.header {
	font-size: 13px;
	float: right;
}

.menu {
	display: flex;
}

.menu a {
	color: black;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
}

.menu a:hover {
	text-decoration: underline;
}

.menu > a:nth-child(1), .menu > a:nth-child(2) {
	padding: 22px 13px 0 10px;
}

.menu > a:nth-child(3) {
	padding-top: 11px;
}

.menu > a:nth-child(4) {
	padding-top: 7px;
}

.menu div {
}

/******************************/
/********** MAIN              */
/******************************/
.logo {
	width: 272px;
	margin: 0 auto;
	padding-top: 156px;
	padding-left: 19px;
}

.search-bar {
	width: var(--search-bar-width, 430px);
	margin: 22px 0 22px 270px;
}

.search-bar input {
	width: var(--search-bar-width, 430px);
	padding: 10px 0;
	margin-left: 12px;
}

.search-buttons {
	width: 300px;
	margin: 10px 0 0 350px;
}

.search-buttons input {
	margin: 11px 4px;
	padding: 7px 16px;

	background-color: #f2f2f2;
	color: #5f6368;
	border: 1px solid #f2f2f2;
	border-radius: 4px;

	font-size: 14px;
}

.lang-choice {
	font-size: 13px;
	width: 200px;
	margin: 25px 390px;
}

.lang-choice a {
	text-decoration: none;
	color: #1a0dab;
	padding-left: 5px;
}

.lang-choice a:hover {
	text-decoration: underline;
}

/******************************/
/********** FOOTER            */
/******************************/
footer {
	color: rgba(0,0,0,0.54);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	font-size: 15px;
}

footer > div:nth-child(1) {
	border-top: 1px solid #e4e4e4;
	padding: 15px 0 15px 27px;
}

footer > div:nth-child(2) {
	font-size: 14px;
	padding: 0 10px 0 0;
}

.footer-left div, .footer-right div {
	padding: 15px 0 15px  27px;
}

footer .footer-left, footer .footer-right {
	display: flex;
}

footer .footer-left {
	float: left;
}

footer .footer-right {
	justify-content: flex-end;
}

/******************************/
/********** ICONS             */
/******************************/
.icon-google-apps {
	width: 35px;
	height: 35px;
	background: url("../assets/icons.png") 65px 35px;
	filter: brightness(50%);
}

a div.icon-google-apps:hover {
	background: url("../assets/icons.png") -132px 32px;
}
