:root {
	--search-bar-width: 580px;
}

body {
	font-family: arial, sans-serif;
}

/******************************/
/********** HEADER            */
/******************************/
.header {
	font-size: 13px;
	padding-top: 4px;
	padding-right: 23px;
	float: right;
}

.menu {
	display: flex;
}

.menu a {
	color: black;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.87);
}

.menu a:hover {
	text-decoration: underline;
}

.menu > a:nth-child(1), .menu > a:nth-child(2) {
	padding: 22px 13px 0 10px;
}

.menu > a:nth-child(3) {
	padding-top: 11px;
}

.menu > a:nth-child(4) {
	padding-top: 7px;
}

.menu div {
}

/******************************/
/********** MAIN              */
/******************************/
.logo {
	width: 272px;
	margin: 0 auto;
	padding-top: 200px;
}

.search-bar {
	display: flex;
	width: var(--search-bar-width, 580px);
	margin: 22px auto;
}

.search-bar input {
	width: var(--search-bar-width, 580px);
	padding: 14.5px 0;
	border-radius: 30px;
	border: 1px solid #dcdcdc;
	outline: none;
	padding-left: 10px;
}

.search-bar input:hover {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border-color: rgba(223, 225, 2239, 0);
}

.search-buttons {
	width: 300px;
	margin-top: 10px;
	margin: 0 auto;
}

.search-buttons input {
	margin: 11px 4px;
	padding: 7px 16px;

	background-color: #f2f2f2;
	color: #5f6368;
	border: 1px solid #f2f2f2;
	border-radius: 4px;

	font-size: 14px;
}

.search-buttons input:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
	cursor: pointer;
}

.lang-choice {
	font-size: 13px;
	width: 200px;
	margin: 25px auto;
}

.lang-choice a {
	text-decoration: none;
	color: #1a0dab;
	padding-left: 5px;
}

.lang-choice a:hover {
	text-decoration: underline;
}

/******************************/
/********** FOOTER            */
/******************************/
footer {
	background-color: #f2f2f2;
	color: rgba(0,0,0,0.54);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 15px;
}

footer > div:nth-child(1) {
	border-top: 1px solid #e4e4e4;
	padding: 13px 0 13px 28px;
}

footer > div:nth-child(2) {
	font-size: 14px;
	padding: 0 10px 0 0;
}

.footer-left div, .footer-right div {
	padding: 13px 0 13px  28px;
}

footer .footer-left, footer .footer-right {
	color: #5f6368;
	display: flex;
}

footer .footer-left a, footer .footer-right a {
	color: #5f6368;
	text-decoration: none;
}

footer .footer-left a:hover, footer .footer-right a:hover {
	text-decoration: underline;
}

footer .footer-left {
	float: left;
}

footer .footer-right {
	justify-content: flex-end;
}

/******************************/
/********** ICONS             */
/******************************/
.icon-google-apps {
	width: 35px;
	height: 35px;
	background: url("../assets/icons.png") 65px 35px;
	filter: brightness(50%);
}

a div.icon-google-apps:hover {
	background: url("../assets/icons.png") -132px 32px;
}

.search-icon {
	width: 35px;
	height: 40px;
	background: url("../assets/search.webp") -2px 83px;
}
